// Fonts
$crimson: "CrimsonText", "Arial", sans-serif;
$mont: "MontserratBold", "Arial", sans-serif;
$myriad: "MyriadPro", "Arial", sans-serif;
$salima: "Salima", "Arial", sans-serif;

// Colors
$darkblue: #151b28;
$fontgrey: #8b909d;
$selimagrey: #f6f6f7;
$orange: #d89b64;
